.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.homeImage {
  padding: 4px;
  border: 3px dashed #ededed;
}

.homeImage img {
  width: 500px;
  height: 450px;
}

.homeContent h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.homeContent h3 {
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

.homeContent p {
  font-size: 16px;
  margin: 30px 0 40px;
  font-family: "Poppins", sans-serif;
}

.homeContent .btnBox {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btnBox a {
  position: relative;
  width: 150px;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  display: inline-flex;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 500ms;
}

.btnBox a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}

.btnBox a:nth-child(2)::before {
  background: #00abf0;
}

.btnBox a:nth-child(2):hover {
  color: #081b29;
}

.btnBox a:hover {
  color: #00abf0;
}

.btnBox a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 500ms;
}

.btnBox a:hover:before {
  width: 100%;
}

@media (max-width: 1275px) {
  .homeImage {
    display: none;
  }
  .homeContent .btnBox {
    margin: 0 auto 31%;
  }
}

@media (max-width: 485px) {
  .homeContent {
    text-align: center;
  }
  .homeContent h1 {
    font-size: 1.5rem;
  }
  .homeContent h3 {
    font-size: 1.3rem;
  }
  .homeContent .btnBox {
    display: block;
    width: 90%;
    height: 51px;
    margin: 0 auto 60%;
  }
  .homeContent p {
    padding: 20px;
  }
}
